body {
  font-family: 'Roboto Slab', serif;
}

header h1 {
  font-size: 45px;
}

header p {
  font-size: 30px;
}

img {
  width: 100px;
  margin-right: 20px;
}

.column-1 {
 float: left;
 width: 48%;
 background: blue;
 margin: 1%;
 border: 3px black dotted;
 padding-left: 5px;
 padding-right: 5px;
 box-sizing: border-box;
 height: 1200px;
}

.column-2 {
 float: left;
 width: 48%;
 background: green;
 margin: 1%;
 border: 3px black dotted;
 padding-left: 5px;
 padding-right: 5px;
 box-sizing: border-box;
 height: 1200px;
}

footer {
 clear: both;
}

@media (max-width: 1000px) {
  .column-2 {
    height:1000px;
  }

}

